.carouselWrapper {
    margin-top: 20px;
}

.carouselTitle {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.2px;
    /* Pearl White / 100 */
    color: #FFFFFF;
}

.carouselSubtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    /* Charcoal / 40 */
    color: #ADADAD;
}

.carouselScrollWrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.carouselItem {
    cursor: pointer;
    margin-right: 10px;
    flex: 0 0 auto;
    width: 296px;
    height: 272px;
    /* Charcoal / 100 */
    background: #232323;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.12);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}

.carouselTop {
    display: flex;
    height: 48%;
    position: relative;
}

.carouselBottom {
    position: relative;
    height: 52%;
    padding: 10px 10px;
}

.carouselImage {
    object-fit: cover;
    width: 100%;
    /* background: linear-gradient(222.67deg, rgba(135, 156, 166, 0.24) 0%, rgba(153, 171, 179, 0.096) 37.59%), url(''); */
    /* background-blend-mode: multiply, normal; */
    border-radius: 24px 24px 0px 0px;
}

.carouselOverlay {
    position: absolute;
    z-index: 2;
    color: red;
    padding: 10px;
    top: 0;
    right: 0;
}

.summaryWrapper {
    height: 24px;
    align-items: center;
}

.summaryWrapper>span {
    padding: 0px 5px 0px 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}

.price {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
    letter-spacing: -0.2px;
}

.price>span {
    color: #ADADAD;
    font-size: 16px;
    font-weight: 500;
}

.address {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #DDDDDD;
}

.address1 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #F1F1F1;
}

.tags {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    flex-wrap:nowrap;
    overflow-x: auto;
}