.footerContainer {
    position: relative;
    /* Charcoal / 120 */
    /* background: #1A1A1A; */
    background: red;
    /* box-shadow: 0px -16px 32px rgba(205, 205, 205, 0.08);
    border-radius: 0px; */
}