.detailContainer {
    margin: 15px;
    display: flex;
    flex-direction: column;
    height: 48%;
    position: relative;
}

.headerSection {
    height: 350px;
    /* width: 375px; */
    width: 100%;
    background-position: center;
    background-size: cover;
    /* background: linear-gradient(0deg, rgba(38, 44, 55, 0.2), rgba(38, 44, 55, 0.2)), linear-gradient(180deg, rgba(38, 44, 55, 0.128) 0%, rgba(38, 44, 55, 0) 50%);
    background-blend-mode: normal, multiply, normal; */
    position: relative;
    display: flex;
    flex-direction: column;
}

.headerSection .topRow {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.headerSection .bottomRow {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    bottom: 0;
}

.availability {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    display: flex;
    align-items: center;
    /* Emerald /100 */
    color: #19968C;
    margin-bottom: 10px;
}

section {
    width: 100%;
}

.bodySection {
    margin-top: 20px;
}

.price {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
    letter-spacing: -0.4px;
}

.price>span {
    color: #ADADAD;
    font-size: 14px;
    font-weight: 500;
}

.apartment {
    /* App / Micro */
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    /* or 125% */
    display: flex;
    align-items: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    /* Charcoal / 10 */
    color: #F1F1F1;
}

.detail {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* or 140% */
    letter-spacing: -0.2px;
    /* Pearl White / 100 */
    color: #FFFFFF;
}

.subdDetail {
    /* Floor 6 · Reference #0F300096 */
    /* App / Medium  */
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #DDDDDD;
}

.tags {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */
    display: flex;
    align-items: center;
    /* Charcoal / 40 */
    color: #ADADAD;
}

hr {
    background: black;
    margin: 20px 10px;
    border: 1px solid #232323;
}

.sectionTitle {
    /* App / Large Bold */
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
    display: flex;
    align-items: center;
    letter-spacing: -0.2px;
    /* Pearl White / 100 */
    color: #FFFFFF;
}

.sectionBody {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    /* Charcoal / 20 */
    color: #DDDDDD;
}

.sectionBody>img {
    width: 100%;
    height: 144px;
    margin-bottom: 10px;
}

.text1 {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.text2 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #DDDDDD;
}

.text3 {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    color: #ADADAD;
}