.filterScrollWrapper {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* Scroll */
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.filter {
    margin-right: 4px;
    cursor: pointer;
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    padding: 8px 15px;
    border: 1.6px solid #3F3F3F;
    box-sizing: border-box;
    border-radius: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}