.searchBar {
    flex-direction: row;
    width: 100%;
    /* line-height: 2.8em; */
    padding: 8px 10px;
    margin: 10px 0px;
    /* Charcoal / 100 */
    background: #232323;
    /* Charcoal / 80 */
    border: 1.6px solid #3F3F3F;
    box-sizing: border-box;
    border-radius: 16px;
}

.searchLabel {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 2px;
    color: #FFFFFF;
}

input {
    color: #fff;
    min-width: 60%;
    padding: 5px;
    background: #232323;
    border: #232323;
}