.searchIcon {
    padding-right: 7px;
}

.filterIcon {
    padding-right: 7px;
}

.GalleryIcon {
    background: rgba(38, 44, 55, 0.04);
    backdrop-filter: blur(64px);
    border-radius: 40px;
    padding: 10px 16px;
}

.TourIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #232323;
    border-radius: 40px;
    padding: 12px 16px;
    border: 2px solid #232323;
}

.TourIcon>span {
    padding-left: 5px;
    color: #F1F1F1;
    font-weight: 700;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
}