@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  background: #1A1A1A;
}
a{
  text-decoration: none;
}

.App {
  /* Charcoal / 120 */
  background: #1A1A1A;
  /* display: flex; */
  padding: 15px;
  color: aliceblue;
  max-width: 375px;
  min-height: 95vh;
  font-family: Inter;
}

button {
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.row {
  display: flex;
  flex-direction: row;
}