.navBarContainer{
    display: flex;
    width: 100%;
    justify-self: stretch;
    position: absolute;
    z-index: 10;
    height: 100px;
    background: #1A1A1A;
    box-shadow: 0px -16px 32px rgba(205, 205, 205, 0.08);
    bottom: 0;
 
}

nav{
    max-width: 375px;
    flex: auto;
    color: #fff;
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
}

.link{
    padding: 5px;
    font-size: 12px;
    align-items: center;
    font-family: Inter;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}
.link >span{
    padding: 7px;
}